// -----------
// LIGHT MODE VARIABLES
// -----------
@mixin buttons-light-mode {
  // Primary Button Colors
  --color-btn-primary-text: var(--color-astro-white);
  --color-btn-primary: var(--color-astro-black);
  --color-btn-primary-text-hover: var(--color-astro-white);
  --color-btn-primary-hover: var(--color-astro-red);
  // Outline Button Color
  --color-btn-outline: var(--color-astro-black);
  // Secondary Button Colors
  --color-btn-secondary: var(--color-astro-white);
  --color-btn-secondary-text: var(--color-astro-black);
  --color-btn-secondary-hover: var(--color-astro-white);
}

// -----------
// DARK MODE VARIABLES
// -----------
@mixin buttons-dark-mode {
  // Primary Button Colors
  --color-btn-primary-text: var(--color-astro-black);
  --color-btn-primary: var(--color-astro-white);
  --color-btn-primary-text-hover: var(--color-astro-white);
  --color-btn-primary-hover: var(--color-astro-red);
  // Outline Button Color
  --color-btn-outline: var(--color-astro-white);
  // Secondary Button Colors
  --color-btn-secondary: var(--color-astro-white);
  --color-btn-secondary-text: var(--color-astro-black);
  --color-btn-secondary-text-hover: var(--color-astro-white);
  --color-btn-secondary-hover: var(--color-astro-black);
}
// Execute Light Mode
@media (prefers-color-scheme: light) {
  :root {
    @include buttons-light-mode;
  }
}
:root[data-theme="light"] {
  @include buttons-light-mode;
}
// Execute Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    @include buttons-dark-mode;
  }
}
:root[data-theme="dark"] {
  @include buttons-dark-mode;
}

// Button Component Styles
button,
input[type="submit"],
.button {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary);
  border: var(--border-width) solid var(--color-btn-primary);
  padding: 0.75rem 2rem;
  border-radius: var(--border-radius-pill);
  font-family: var(--font-family-base);
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: all 150ms ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-btn-primary-text-hover);
    background-color: var(--color-btn-primary-hover);
    border-color: var(--color-btn-primary-hover);
    outline: none;
  }

  // span {
  //   margin-block-end: -0.2em;
  // }

  &.lg {
    padding: 1rem 2rem;
  }

  &.sm {
    border-radius: 15em;
    padding: 0.5rem 2rem;
  }

  &.secondary {
    color: var(--color-btn-secondary-text);
    background-color: var(--color-btn-secondary);
    border-color: var(--color-btn-secondary);

    &:hover,
    &:focus {
      color: var(--color-btn-secondary-text-hover);
      background-color: var(--color-btn-secondary-hover);
      border-color: var(--color-btn-secondary-hover);
    }

    &.outline {
      color: var(--color-btn-secondary);
      border-color: var(--color-btn-secondary);
      background-color: transparent;

      &:hover,
      &:focus {
        // Solid Hover
        color: var(--color-btn-primary-text);
        background-color: var(--color-btn-secondary-hover);
        border-color: var(--color-btn-secondary-hover);

        // Outline Hover
        // color: var(--color-btn-secondary-hover);
      }
    }
  }

  &.outline {
    color: var(--color-btn-outline);
    border-color: var(--color-btn-outline);
    background-color: transparent;

    &:hover,
    &:focus {
      // Solid Hover
      color: var(--color-btn-primary-text-hover);
      background-color: var(--color-btn-primary-hover);
      border-color: var(--color-btn-primary-hover);

      // Outline Hover
      // color: var(--color-btn-primary-hover);
    }
  }
}
