// -----------
// LIGHT MODE VARIABLES
// -----------
@mixin nav-light-mode {
  // Nav variables
  --color-nav-bg: rgba(var(--color-astro-black-rgb), 0.85); // Nav Background
  --color-nav-bg-solid: rgba(var(--color-astro-black-rgb), 1); // Nav Background
  --color-nav-btn-bg-hover: var(
    --color-astro-white
  ); // Nav Button Hover Background
  --color-nav-link-color: var(--color-astro-white);
  --color-nav-link-hover-color: var(--color-astro-white);
  --color-nav-link-button-hover-color: var(--color-astro-black);
  --brand-icon: var(--bravo-light-100); // Brand Icon Color
  --color-logo-box: var(--color-astro-black);
}

// -----------
// DARK MODE VARIABLES
// -----------
@mixin nav-dark-mode {
  // Nav variables
  --color-nav-bg: rgba(var(--color-astro-black-rgb), 0.85); // Nav Background
  --color-nav-bg-solid: rgba(
    var(--color-astro-black-rgb),
    0.85
  ); // Nav Background
  --color-nav-btn-bg-hover: var(
    --color-astro-white
  ); // Nav Button Hover Background
  --color-nav-link-color: var(--color-astro-white);
  --color-nav-link-hover-color: var(--color-astro-white);
  --color-nav-link-button-hover-color: var(--color-astro-black);
  --brand-icon: var(--mav-red); // Brand Icon Color
  --color-logo-box: var(--color-astro-red);
}
// Execute Light Mode
@media (prefers-color-scheme: light) {
  :root {
    @include nav-light-mode;
  }
}
:root[data-theme="light"] {
  @include nav-light-mode;
}
// Execute Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    @include nav-dark-mode;
  }
}
:root[data-theme="dark"] {
  @include nav-dark-mode;
}

// NAV Variables
:root {
  --nav-min-height: 4rem;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: var(--nav-min-height);
  justify-content: space-between;
  z-index: 1000;
  padding: 0rem 2rem;
  flex-direction: row;
  // border-bottom: 0.25rem solid var(--color-astro-red);

  @media (--lg) {
    padding-inline: 3.5rem;
  }

  a {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-nav-bg-solid);
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
    z-index: -1;
  }

  ul {
    display: flex;
    gap: var(--spacer);
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 1;
    margin: 0;

    @media (--md-max) {
      gap: var(--spacer-4);
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 7rem 3rem;
      z-index: -1;
      transform: translateX(100%);
      transition: transform 200ms ease-out;
      background-color: var(--color-nav-bg);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% + 7rem);
        top: 0;
        left: 0;
        margin-block-start: -7rem;
        backdrop-filter: blur(0.7rem);
        -webkit-backdrop-filter: blur(0.7rem);
        z-index: -1;
      }

      &[data-visible="true"] {
        display: flex;
        transform: translateX(0%);
      }
    }
  }

  li {
    display: flex;
    width: 100%;
    position: relative;
    outline: none;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    a {
      height: 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.25rem;
      color: var(--color-nav-link-color);
      text-decoration: inherit;
      transition: all 150ms ease-in-out;

      @media (--lg) {
        height: 4rem;
        display: inline-flex;
      }

      &::after {
        content: "";
        opacity: 1;
        background: var(--color-astro-red);
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 0rem;
        margin-top: 1rem;
        z-index: -1;
        top: 0;
        transition: all 150ms ease-out;
        border-radius: var(--border-radius-pill);

        @media (--lg) {
          background: var(--color-nav-link-hover-color);
          margin-top: 0rem;
        }
      }

      &:hover,
      &:focus {
        color: var(--color-nav-link-hover-color);
        text-decoration: none;
        outline: none;

        @media (--lg) {
          margin-top: 0rem;
        }
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
        height: 1rem;

        @media (--lg) {
          height: 0.2rem;
        }
      }
    }

    &:last-of-type > a {
      height: auto;
      color: var(--color-nav-link-color);
      cursor: pointer;
      border: var(--border-width) solid var(--color-nav-link-color);
      border-radius: var(--border-radius-pill);
      padding: 0.5rem 2rem;
      transition: 150ms ease-in-out;
      display: flex;

      &:hover,
      &:focus {
        background: var(--color-nav-btn-bg-hover);
        border-color: var(--color-nav-btn-bg-hover);
        color: var(--color-nav-link-button-hover-color);
        outline: none;

        &:after {
          width: 0%;
          height: 0rem;
        }
      }
    }
  }
}

.mobile-nav-toggle {
  display: none;

  @media (--md-max) {
    display: block;
    position: absolute;
    top: 0.25rem;
    right: 0rem;
    color: var(--color-nav-link-color);
    background: none;
    border: 0;
    z-index: 9999;

    svg {
      width: 2rem;
      aspect-ratio: 1;
    }

    &:hover,
    &:focus {
      color: var(--color-nav-link-hover-color);
      cursor: pointer;
      background-color: transparent;
    }

    &:focus-visible {
      color: var(--color-nav-link-hover-color);
      background-color: transparent;
      text-decoration: none;
      outline: var(--border-width) solid
        var(--color-nav-link-button-hover-color);
      outline-offset: 0.25rem;
      border-radius: 0.1rem;
    }
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // margin-inline-start: 2rem;

  .logo-box {
    height: 2rem;
    background-color: none;
    // background-color: var(--color-logo-box);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    // border-radius: var(--border-radius-sm);
  }

  svg {
    height: 100%;
    width: auto;
    margin: 0;
  }

  // &:hover,
  &:focus-visible {
    text-decoration: none;
    outline: var(--border-width) solid var(--color-nav-link-hover-color);
    outline-offset: 0.75rem;
    border-radius: 50rem;
  }
}

.brand-text {
  font: 700 1.2rem/120% var(--font-family-base);
  color: var(--color-nav-link-hover-color);
  margin-left: 0.8rem;
  text-decoration: none;
}
