---
export const prerender = true;

// Library imports
import { Icon } from 'astro-icon/components';
import { getCollection } from "astro:content";

// Layout imports
import MainLayout from "../layouts/MainLayout.astro";

// Component imports
import HeroFull from '../components/heroes/HeroFull.astro';
import WorkList from "../components/WorkList.astro";
const works = await getCollection("works");
// import Button from '../components/Button.astro';

// Image imports
import { Image } from 'astro:assets';
import profileImage from "../img/nb-new.jpg";
import homeHero from "../img/home-hero.png";
---

<MainLayout
  title="Websites. Graphics. Content. For businesses who respect privacy. - Astropost"
  description="We build privacy-focused websites, visual identities, and digital assets to solidify brand authority and trust across platforms. All while protecting your users' privacy."
  og_image="https://astropost.io/images/opengraph.png"
  og_url="https://astropost.io/"
>
  <main>

    <HeroFull
      id="home"
      heading="Websites and content. <br /> Privacy-focused websites that drive results."
      p1="We build privacy-focused websites that drive outcomes and solidify brand authority and trust across platforms. All while protecting your users' privacy."
      image={homeHero}
      image_alt="Astropost Portfolio Show"
      button_primary_link="start"
    />

    <section>
      <WorkList works={works} />
    </section>


    <!-- Contact section -->
    <section id="contact" class="px-3 py-8">
      <div class="container">
        <div class="flex flex-column align-items-start justify-content-center">
          <div class="col-md-6 col-lg-5 pe-md-5">
            <!-- Contact text -->
            <h2>Get in touch.</h2>
            <div class="hr-div"></div>
            <p class="subheading">
              I'm ready to join your team! Send me a message if you think we'd be a great fit!
            </p>
          </div>
          <!-- Contact form -->
          <div class="col-md-6 col-lg-4 mt-5 mt-md-0">
            <form name="contact-form" id="contact-form" action="index.html#success" method="post" data-netlify="true" onsubmit="submit" data-netilfy-honeypot="bot-field" class="needs-validation" novalidate >
              <!-- Robot honeypot. That rhymes! -->
              <div class="d-none">
                <label>
                  Robot honeypot: Leave this field empty if you're human
                  <input name="bot-field" />
                </label>
              </div>
              <!-- Name input -->
              <div class="mb-4">
                <label class="form-label sr-only" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Name" required />
              </div>
              <!-- Email input -->
              <div class="mb-4">
                <label class="form-label sr-only" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Email" required />
              </div>
              <!-- Message input -->
              <div class="mb-4">
                <label class="form-label sr-only" for="description">Message</label>
                <textarea class="form-control" rows="3" id="description" name="message" placeholder="Type your message here" required></textarea>
              </div>
              <!-- Submit button -->
              <div class="mb-4">
                <button class="button outline">Send message</button>
              </div>
            </form>
            <!-- Form success modal -->
            <div class="modal fade" id="success" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title form-success-title">Success!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body bg-light form-success-text">
                    Thanks! Your message is on it's way!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>
</MainLayout>
