---
// export const prerender = true;

// Layout imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Thanks for reaching out!"
  description="Thanks for reaching out!"
>
  <main>

    <!-- <HeroFull
      id="thank-you"
      heading="Websites and content. <br /> Privacy-focused websites that drive results."
      p1="We build privacy-focused websites that drive outcomes and solidify brand authority and trust across platforms. All while protecting your users' privacy."
      image={homeHero}
      image_alt="Astropost Portfolio Show"
      button_primary_link="start"
    /> -->

    <section>
      <h1>Thanks!</h1>
    </section>




  </main>
</MainLayout>
