---
// Component imports
import Button from '../../components/Button.astro';

// Image imports
import { Image } from 'astro:assets';
import homeHero from "../../img/home-hero.png";
---

  <!-- Hero section -->
    <section id="home">
      <!-- <div class="container"> -->
        <div class="hero-full">
          
          <!-- Hero text -->
          <div class="text-block">
            <!-- <p class="superheading">Nick Bravo.</p> -->
            <h1>Websites and content. <br /> Privacy-focused websites that drive results.</h1>
            <div class="hr-div"></div>
            <p class="subheading">
              We build privacy-focused websites, visual identities, graphics, video content, and digital assets to solidify brand authority and trust across platforms. All while protecting your users' privacy.
            </p>
            <!-- CTA buttons -->
            <div class="flex gap-3">
              <Button href="contact" />
              <Button href="resume" data-bs-toggle="offcanvas" data-bs-target="#resume" aria-controls="resume" />
            </div>
          </div>

          <!-- Hero image -->
            <Image src={homeHero} alt="Collection of projects." format="webp" />

        </div>
      <!-- </div> -->
    </section>

    <style lang="scss">
      @mixin hero-full-light-mode {
        --color-hero-grad-heavy: rgba(var(--color-astro-white-rgb), 0.98);
        --color-hero-grad-light: rgba(var(--color-astro-white-rgb), 0.3);
      }

      // -----------
      // DARK MODE VARIABLES
      // -----------
      @mixin hero-full-dark-mode {
        --color-hero-grad-heavy: rgba(var(--color-astro-black-rgb), 0.98);
        --color-hero-grad-light: rgba(var(--color-astro-black-rgb), 0.3);
      }
      // Execute Light Mode
      @media (prefers-color-scheme: light) {
        :root {
          @include hero-full-light-mode;
        }
      }
      :root[data-theme="light"] {
        @include hero-full-light-mode;
      }
      // Execute Dark Mode
      @media (prefers-color-scheme: dark) {
        :root {
          @include hero-full-dark-mode;
        }
      }
      :root[data-theme="dark"] {
        @include hero-full-dark-mode;
      }


      
      section > div {
        position: relative;
        overflow: hidden;
        border-radius: var(--border-radius);
        min-height: clamp(30rem, 50vw, 50rem);
        display: flex;
        align-items: center;
        padding-inline: 3rem;
        padding-block: 5rem;
        justify-content: flex-start;
        background: linear-gradient(70deg, var(--color-hero-grad-heavy) 45%, var(--color-hero-grad-light));
        min-width: 100%;

        // & > div {
        //   max-width: 50rem;
        // }

        & img {
          position: absolute;
          inset: 0;
          z-index: -1;
          object-fit: cover;
          height: 100%;
        }
      }
      .half-cover-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        
        @media screen and (min-width: 992px)  {
          flex-direction: row;
        }

        .hero-half-text {
          width: 100%;
          padding-inline: 2.5rem;
          padding-block: 10rem;
          
          @media screen and (min-width: 768px)  {
            padding-inline: 4rem;
          }
          
          @media screen and (min-width: 992px)  {
            width: 50%;
            padding-inline: 3rem;
            padding-block: 0;
          }

          @media screen and (min-width: 1200px)  {
            padding-inline: 5rem;
          }
        }

        .hero-half-image {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;
          
          @media screen and (min-width: 992px)  {
            width: 50%;
          }
          
          & img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 2/1;
            margin: 0;
            padding: 0;
            
            @media screen and (min-width: 992px)  {
              width: auto;
              height: 100svh;
              aspect-ratio: auto;
              flex-direction: row;
            }
          } 
        }

      }

    </style>