---
// Component import
import MainHead from "./MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import GetStartedForm from "../components/forms/GetStartedForm.astro";
import ContactForm from "../components/forms/ContactForm.astro";

// Style import
import "../css/global.scss";
import LightDarkToggle from "../components/LightDarkToggle.astro";

const {
  title = "Websites. Graphics. Content. For businesses who respect privacy. - Astropost",
  description = "We build privacy-focused websites, visual identities, and digital assets to solidify brand authority and trust across platforms. All while protecting your users' privacy.",
  og_image = "https://astropost.io/images/opengraph.png",
  og_url = "https://astropost.io/",
} = Astro.props;
---

<html lang="en" prefix="og: https://ogp.me/ns#">
  <MainHead {title} {description} {og_image} {og_url} />
  <body>
    <LightDarkToggle />
    <Nav />
    <main>
      <slot />
    </main>

    <ContactForm />
    <Footer />
    <GetStartedForm />
  </body>
</html>